
.colorPalette{
    background-color: 
    rgb(255, 205, 178),
    rgb(255, 180, 162),
    rgb(229, 152, 155),
    rgb(181, 131, 141),
    rgb(109, 104, 117),
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.main{
    height: 100vh;
}

.navbar{
    top: 0;
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 62px;
    background: rgba(0,0,0,0.7);
}

.navbar ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    line-height: 0.9;
  }
  
  .navbar ul li {
    margin: 0 0.2rem;
    padding: 1rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    color: whitesmoke;
  }

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: black
}

.introduction{
    background-color: aqua;
}
.description{
    background-color: red;
}
.about{
    background-color: violet;
}


